html,body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	overflow: hidden;
	background: transparent;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}

#displayLogo {
	top: 75px;
	right: 75px;
	width: 89px;
	height: 99px;
	opacity: 0.5;
	position: absolute !important;
	animation: bahamas 10s ease-out infinite;
	background: url("images/logo.png") no-repeat;
}

@keyframes bahamas {
	10%,100% {
		transform: rotateY(360deg);
	}
}

#displayHud {
	right: 50px;
	bottom: 50px;
	display: none;
	min-width: 400px;
	max-width: 400px;
	position: absolute !important;
}

#displayTop {
	float: right;
	min-width: 400px;
	max-width: 400px;
	text-align: right;
	padding-right: 10px;
}

#displayMiddle {
	float: right;
	color: #c6c6c6;
	padding: 15px 0;
	font-size: 10px;
	min-width: 400px;
	max-width: 400px;
	text-align: right;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px #000;
}

#displayMiddle s {
	opacity: 0.50;
	padding: 0 10px;
	text-decoration: none;
}

#displayMiddle text {
	padding: 4px 15px;
	border-radius: 10px;
	text-transform: uppercase;
	background: rgba(0,0,0,0.5);
}

#displayBottom {
	float: right;
	min-width: 400px;
	max-width: 400px;
}

svg {
	margin-top: -4px;
	margin-left: -5px;
	position: absolute;
}

#progressBackground {
	float: right;
	width: 28px;
	height: 28px;
	display: none;
	margin-right: 5px;
	position: relative;
	border-radius: 100%;
	border: 3px solid rgba(215,215,215,0.35);
}

#progressDisplay {
	stroke: #eee;
	stroke-width: 3;
	margin-left: 5px;
	fill: transparent;
	position: absolute;
	stroke-dasharray: 100;
	stroke-dashoffset: 50;

	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.healthBackground {
	float: right;
	width: 28px;
	height: 28px;
	margin-right: 5px;
	position: relative;
	border-radius: 100%;
	border: 3px solid rgba(86,159,88,0.35);
}

.healthDisplay {
	stroke: #70cc72;
	stroke-width: 3;
	margin-left: 5px;
	fill: transparent;
	position: absolute;
	stroke-dasharray: 100;
	stroke-dashoffset: 50;

	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	transition: all 2s;
}

.armourBackground {
	float: right;
	width: 28px;
	height: 28px;
	margin-right: 5px;
	position: relative;
	border-radius: 100%;
	border: 3px solid rgba(148,64,80,0.35);
}

.armourDisplay {
	stroke: #b54f62;
	stroke-width: 3;
	margin-left: 5px;
	fill: transparent;
	position: absolute;
	stroke-dasharray: 100;
	stroke-dashoffset: 50;

	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	transition: all 2s;
}

.waterBackground {
	float: right;
	width: 28px;
	height: 28px;
	margin-right: 5px;
	position: relative;
	border-radius: 100%;
	border: 3px solid rgba(80,122,179,0.35);
}

.waterDisplay {
	stroke: #669ae1;
	stroke-width: 3;
	margin-left: 5px;
	fill: transparent;
	position: absolute;
	stroke-dasharray: 100;
	stroke-dashoffset: 50;

	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	transition: all 2s;
}

.foodBackground {
	float: right;
	width: 28px;
	height: 28px;
	margin-right: 5px;
	position: relative;
	border-radius: 100%;
	border: 3px solid rgba(205,118,47,0.35);
}

.foodDisplay {
	stroke: #fc913a;
	stroke-width: 3;
	margin-left: 5px;
	fill: transparent;
	position: absolute;
	stroke-dasharray: 100;
	stroke-dashoffset: 50;

	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	transition: all 2s;
}

.stressBackground {
	float: right;
	width: 28px;
	height: 28px;
	margin-right: 5px;
	position: relative;
	border-radius: 100%;
	border: 3px solid rgba(111,92,124,0.35);
}

.stressDisplay {
	stroke: #947aa5;
	stroke-width: 3;
	margin-left: 5px;
	fill: transparent;
	position: absolute;
	stroke-dasharray: 100;
	stroke-dashoffset: 50;

	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	transition: all 2s;
}

.oxigenBackground {
	float: right;
	width: 28px;
	height: 28px;
	margin-right: 5px;
	position: relative;
	border-radius: 100%;
	border: 3px solid rgba(85,94,111,0.35);
}

.oxigenDisplay {
	stroke: #727e94;
	stroke-width: 3;
	margin-left: 5px;
	fill: transparent;
	position: absolute;
	stroke-dasharray: 100;
	stroke-dashoffset: 50;

	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	transition: all 2s;
}

.voiceBackground {
	float: right;
	width: 28px;
	height: 28px;
	position: relative;
	border-radius: 100%;
	border: 3px solid rgba(176,158,40,0.35);
}

.voiceDisplay {
	stroke: #d7c232;
	stroke-width: 3;
	margin-left: 5px;
	fill: transparent;
	position: absolute;
	stroke-dasharray: 100;
	stroke-dashoffset: 50;

	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	transition: all 2s;
}

.middleIcon {
	color: #999;
	width: 28px;
	height: 22px;
	padding: 6px 0 0;
	background: #222;
	position: absolute;
	border-radius: 100%;
	text-align: center;

	background-position: center !important;
	background-repeat: no-repeat !important;
}

#seatBelt, #hardBelt {
	float: right;
	display: none;
	color: #939393;
	font-size: 11px;
	font-weight: 300;
	line-height: 12px;
	padding-top: 18px;
	padding-left: 15px;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px #000;
}

#seatBelt img, #hardBelt img {
	margin-top: -14px;
}

#mph {
	float: right;
	color: #939393;
	font-size: 11px;
	font-weight: 700;
	padding-left: 20px;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px #000;
}

#gasoline {
	float: right;
	color: #939393;
	font-size: 11px;
	font-weight: 700;
	padding-left: 15px;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px #000;
}

#gasoline s, #mph s {
	color: #e5e5e5;
	font-size: 28px;
	text-decoration: none;
	font-family: "Jura",sans-serif;
}

#movieTop {
	top: 0;
	left: 0;
	width: 100vw;
	height: 12%;
	display: none;
	background: #000;
	position: absolute !important;
}

#movieBottom {
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 12vw;
	display: none;
	background: #000;
	position: absolute !important;
}

#hoodDisplay {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	background: #000;
	position: absolute !important;
}

#Mumble {
	color: #ccc;
	display: flex;
	padding: 20px 0;
	letter-spacing: 2px;
	justify-content: center;
	text-transform: uppercase;
	background: rgba(15,15,15,.75);
}