* {
	margin: 0;
	padding: 0;
}

html,body {
	font-size: 12px;
	overflow: hidden;
	background: transparent;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}

#vehicleBackground {
	width: 100%;
	bottom: 90px;
	display: none;
	position: fixed;
}

#vehicleLayout {
	width: 638px;
	margin: 0 auto;
}

.vehicleButton {
	float: left;
	width: 50px;
	height: 50px;
	padding: 0 10px 3px;
	background: #2d2740;
	border-right: 1px solid #323644;
}

.vehicleButton:hover {
	background: #474060;
}

.vehicleButton:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.vehicleButton:last-child {
	border-right: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.ui-helper-hidden-accessible {
	display: none;
}

.ui-tooltip {
	z-index: 9999;
	padding: 10px 15px;
	color: #b2aacc;
	font-size: 11px;
	border-radius: 4px;
	position: absolute;
	background: #2d2740;
	letter-spacing: 1px;
}

.ui-tooltip:hover {
	display: none;
}