.nicesexytext {
	width: 100%;
	z-index: 999;
	color: #b1aac9;
	font-size: 11px;
	text-align: center;
	position: absolute;
	margin: 13px auto 0;
	letter-spacing: 4.5px;
	text-shadow: 1px 1px #000;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}

.divwrap {
	left: 50%;
	bottom: 10%;
	width: 300px;
	height: 40px;
	display: none;
	overflow: hidden;
	position: absolute;
	background: #2d2740;
	border: 1px solid #b1aac9;
	transform: translate(-50%,-50%);
}

.skillprogress {
	left: 35%;
	width: 10%;
	z-index: 99;
	height: 100%;
	padding-top: 1%;
	background: #fff;
	position: absolute;
	border-left: 1px solid #b1aac9;
	border-right: 1px solid #b1aac9;
}

.progress {
	width: 100%;
	height: 100%;
	position: absolute;
}

.progress-wrap {
	height: 100%;
	overflow: hidden;
	position: relative;
}

#progress-bar {
	top: 0;
	left: 0;
	width: 50%;
	z-index: 998;
	height: 100%;
	overflow: hidden;
	position: relative;
	position: absolute;
	background-color: #2e6e4c;
}