* {
	margin: 0;
	padding: 0;
}

html,body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.console {
	background-color: white;
	color: red;
}

.wprompt {
	color: #fff;
	width: 600px;
	height: 150px;
	display: flex;
	position: absolute;
	padding: 10px 15px;
	flex-direction: column;
	background-color: rgba(0,0,0,0.7);
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}

.wprompt h1 {
	font-size: 13px;
	font-weight: 300;
	padding: 7px 0 12px 5px;
}

.wprompt textarea {
	flex: 1;
	color: #ccc;
	width: 100%;
	resize: none;
	padding: 10px;
	font-size: 15px;
	box-sizing: border-box;
	outline: none !important;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid rgba(255,255,255,0.2);
}

.wprompt textarea:focus {
	outline: none !important;
}

.wprompt .help {
	font-size: 12px;
	padding: 12px 0 7px 5px;
}

.requestManager {
	width: 100%;
	height: 95%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#NotifyBackground {
	color: #b1aac9;
	font-size: 13px;
 	line-height: 20px;
	border-radius: 2px;
	padding: 15px 20px;
	margin-right: 10px;
	background: #2d2740;
	text-shadow: 1px 1px #1f1b2d;
	border-left: 5px solid #1f1b2d;
	border-right: 5px solid #1f1b2d;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}

#NotifyBackground green {
	color: #2e6e4c;
}

#NotifyBackground b {
	font-weight: 300;
	color: rgba(255,255,255,0.9);
}

#deathDiv {
	width: 100%;
	display: none;
	bottom: 100px;
	position: fixed;
}

#deathText {
	width: 800px;
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
	text-shadow: 1px 1px #000;
	color: rgba(255,255,255,0.9);
	font-family: "Jura",sans-serif;
}

#deathText color {
	color: #92ac29;
}

#deathText color2 {
	color: #bd962e;
}

#deathText i {
	font-size: 13px;
	font-style: normal;
	letter-spacing: 2px;
}

#statusDiv {
	left: 35px;
	bottom: 35px;
	font-size: 11px;
	max-width: 300px;
	line-height: 16px;
	position: absolute;
	text-shadow: 1px 1px #000;
	color: rgba(255,255,255,0.75);
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}

#wantedDiv, #reposeDiv {
	float: left;
	padding: 15px;
	display: none;
	max-width: 235px;
	margin-top: 10px;
	border-radius: 4px;
	background: rgba(0,0,0,0.5);
}

#reposeDiv b, #wantedDiv b {
	color: #ffb400;
	font-weight: 300;
}