::-webkit-scrollbar { display: none; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; }

body {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}

* {
	overflow: hidden;
	user-select: none;
	box-sizing: border-box;
}

#notifyitens {
	width: 100%;
	height: 95%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.item {
	width: 115px;
	height: 145px;
	display: flex;
	border-radius: 4px;
	margin-right: 10px;
	flex-direction: column;
	text-shadow: 1px 1px #000;
	background: rgba(40,36,52,0.75);
	background-size: 86% !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.item .top {
	display: flex;
	color: #b2aacc;
	font-size: .65rem;
	justify-content: space-between;
}

.item .nameItem {
	width: 100%;
	color: #b2aacc;
	margin-top: 87px;
	font-size: .68rem;
	padding: 8px 10px;
	text-align: center;
	align-self: center;
	white-space: nowrap;
	letter-spacing: 1px;
	text-overflow: ellipsis;
	text-transform: uppercase;
	background: rgba(77,69,103,0.75);
}

.itemWeight {
	color: #444;
	padding: 8px;
	font-size: .60rem;
	position: absolute;
	letter-spacing: 1px;
	text-shadow: 0 0 #000;
	text-transform: uppercase;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background: rgba(255,255,255,0.75);
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}

.itemAmount {
	width: 115px;
	font-size: .70rem;
	text-align: right;
	padding: 15px 15px 0 0;
}