input[type=range] {
	-webkit-appearance: none;
	width: 280px;
	background: transparent;
	vertical-align: middle;
	padding: 0 10px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 12px;
	width: 12px;
	background: #424242;
	cursor: pointer;
	margin-top: -6px;
	border-radius: 4px;
}

input[type=range]::-moz-range-thumb {
	height: 12px;
	width: 12px;
	background: #424242;
	border-radius: 4px;
	cursor: pointer;
}

input[type=range]::-ms-thumb {
	height: 12px;
	width: 12px;
	background: #fff;
	cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 330px;
	height: 2px;
	cursor: pointer;
	background: #666;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #666;
}

input[type=range]::-moz-range-track {
	width: 330px;
	height: 2px;
	cursor: pointer;
	background: #656e8d;
}

input[type=range]::-ms-track {
	width: 330px;
	height: 2px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #656e8d;
}

input[type=range]:focus::-ms-fill-lower {
	background: #656e8d;
}

input[type=range]::-ms-fill-upper {
	background: #656e8d;
}

input[type=range]:focus::-ms-fill-upper {
	background: #656e8d;
}

input[type="radio"] {
	display: none;
}

.type-radio {
	margin-bottom: 10px;
}

.type-radio label {
	display: inline-block;
	height: 18px;
}

.type-radio .color {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: -2px;
	font-size: 0;
	border: 1px solid rgba(228,228,228,0.3);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.type-radio .color:after {
	opacity: 0;
	content: '';
	position: absolute;
	top: 9px;
	left: 7px;
	width: 13px;
	height: 9px;
	background: url("assets/radio-check.png") no-repeat;
	background-size: cover;
	-webkit-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

input[type="radio"]:checked + span:after {
	opacity: 1;
}

@font-face {
	font-family: 'Circular';
	src: url("fonts/Circular-Bold.woff2") format("woff2"), url("fonts/Circular-Bold.woff") format("woff"), url("fonts/Circular-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
	src: url("fonts/Circular-Book.woff2") format("woff2"), url("fonts/Circular-Book.woff") format("woff"), url("fonts/Circular-Book.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

* {
	position: relative;
	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Circular', sans-serif;
	font-weight: normal;
	overflow: hidden;
	height: 100%;
}

#cursorPointer {
	position: absolute;
	z-index: 999999;
	display: none;
}

::-webkit-scrollbar {
	display: none;
}

.openBarbershop {
	top: 0;
	right: 0;
	height: 0px;
	width: 420px;
	display: none;
	color: #857e9d;
	min-height: 100%;
	position: absolute;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #2d2740;
	overflow: hidden;
}

form {
	width: 100%;
	height: 76%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto;
}

.tab {
	background: #7c344d;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-bottom: 30px;
}

.tab a {
	color: #d898ae;
	font-weight: normal;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	line-height: 160px;
	width: calc(100% / 2);
	height: 110px;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.tab .active {
	color: #95c5ab;
	background: #2e6e4c;
}

.tab .visage::before {
	content: '';
	width: 32px;
	height: 37px;
	background: url(assets/head.png) no-repeat;
	position: absolute;
	top: calc(50% - 10px);
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.tab .pilosite::before {
	content: '';
	width: 26px;
	height: 39px;
	background: url(assets/pilosite.png) no-repeat;
	position: absolute;
	top: calc(50% - 10px);
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.block {
	display: none;
}

.block .group {
	padding: 15px 30px;
	border-bottom: 1px solid #60587b;
}

.block .group:last-child {
	border-bottom: none;
}

.block h2 {
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .5px;
	padding-bottom: 20px;
}

.block .input {
	padding: 11px 0;
}

.block .input .label {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #c0c0c0;
}

.block .input .label-value {
	position: absolute;
	top: 8px;
	font-size: 13px;
	color: #857e9d;
	right: 5px;
}

.block .input .type-range {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px 15px 15px;
	background: #b1aac9;
	border-radius: 4px;
}

.block .input .type-range .arrow {
	width: 14px;
	height: 14px;
	text-decoration: none;
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
}

.block .input .type-range .arrow-left {
	background: url("assets/arrow-left.png") no-repeat;
	background-size: cover;
	margin-left: 5px;
}

.block .input .type-range .arrow-right {
	background: url("assets/arrow-right.png") no-repeat;
	background-size: cover;
}

.block .input .type-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.block .input .type-img label {
	width: calc(100% / 4);
}

.block .input .type-img label:nth-child(4n) .img {
	border-right: 1px solid #4b536b;
}

.block .input .type-img .img {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid #4b536b;
	border-left: 1px solid #4b536b;
}

.block .input .type-img .img img {
	width: 100%;
	height: auto;
}

.block .input .type-img .img:after {
	opacity: 0;
	content: '';
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 10px;
	height: 10px;
	background: #c0c0c0 url("assets/radio-check-black.png") no-repeat center center;
	padding: 4px;
	background-size: 8px 6px;
	-webkit-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

.block .input .type-img input[type="radio"]:checked + .img {
	border: 2px solid #c0c0c0;
}

.block .input .type-img input[type="radio"]:checked + .img:after {
	opacity: 1;
}

.block h2 + .input {
	padding-top: 0px;
}

.block.active {
	display: block;
}

.label {
	display: block;
	margin-bottom: 10px;
}

.submit {
	width: 420px;
	height: 70px;
	display: block;
	border: none;
	background-color: #2e6e4c;
	font-size: 20px;
	line-height: 70px;
	color: #95c5ab;
	position: fixed;
	bottom: 0px;
	z-index: 100;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.submit:hover {
	background-color: #39875e;
}